{if logged_in}

	{embed="includes/header" page_title="The Community - {company_name}}

	<div class="container community"> 

			<h1>Community</h1>
		
			<ul class="block-grid six-up mobile community-grid">
		
				{exp:user:users group_id='5' dynamic='off' }
			
				<li>
					<!-- link to individual member profile page -->
					<a href="/members/{member_id}">
						<div class="frame">
							{if photo_filename != ""}
								<img src="{photo_url}{photo_filename}">
							{if:else}
								<img src="/img/default_user_photo_small.png">
							{/if}
							
						</div>
					<p class="orange-header-bar">{screen_name}</p></a>
				</li>
			       
				{/exp:user:users}
			
			</ul>
		

	</div> <!-- container -->

	{embed="includes/footer"}
	
{if:else}

	{redirect='member/login'}

{/if}