
{if logged_in}

	{embed="includes/header" page="edit_profile" page_title="Edit your profile"}
	
	<div class="container">

	{exp:user:edit form:class="nice custom validatingForm" return="members/edit_profile/success" error_page="member/error" dynamic="off"}

	{if segment_3 == "success"}
		<div class="alert-box success">You've successfully updated your profile!</div>
	{/if}

	<h1>Edit your profile</h1>
		
		<div class="row profile-form">

			<div class="six columns">
	
				<div class="profile-section">
	
					<h4>Contact Details</h4>

					<p>
						<label for="location">Where are you based?</label>
						<input type='text' class="input-text required" name='location' value='{location}' maxlength='50'/>
					</p>
	
					<p>
						<label for="url">Your Website</label>
						<input id="url" name="url" class="input-text" type="url" value='{url}' maxlength='75' />
					</p>
	
					<p>	
						<label for="facebook">{lang:facebook:label}</label>
						<input type='text' name='facebook' class='input-text' value="{facebook}" />
					</p>	
	
					<p>	
						<label for="twitter">{lang:twitter:label}</label>
						<input type='text' name='twitter' class='input-text' value="{twitter}" />
					</p>

					<p>	
						<label for="linkedin">{lang:linkedin:label}</label>
						<input type='text' name='linkedin' class='input-text' value="{linkedin}" />
					</p>

				</div>
				

			
				<div class="profile-section">	
		
					<h4>Profile photo</h4>
					{if photo_filename != ""}

							<img src="{photo_url}{photo_filename}" id="photo" />

					{if:else}
						<img id="photo"src="/img/default_user_photo_small.png">
					{/if}
					
			
		            <p>
						<span id='photo-uploader'>
		              		<input type="button" name="upload" id="upload" value="Upload a new photo" />
		            	</span>
					</p>

					<script src="/javascripts/fileuploader.js" type="text/javascript"></script>
				
					<!-- This div will be replaced by Jquery with the animated progress bar -->
					<div id="photo-progressbar"></div>
				
				
					<!-- file upload script -->
					{embed="includes/upload_script" type="photo"}
				
				</div>

				<div class="profile-section">
					<h4>Bio</h4>
					<p>
						<label for="bio">Tell us a bit about yourself</label>
						<textarea name='bio' class='textarea large' type="text" rows="10">{bio}</textarea>
					</p>
	
				</div>


			
			
	
			</div> <!-- /.columns -->
	
			<div class="six columns">
	
				<div class="profile-section">
	
					<h4>Your Company</h4>

					<p>	
						<label for="company_name">{lang:company_name:label}</label>
						<input type='text' name='company_name' class='input-text' value="{company_name}" />
					</p>
	
					<p>
	
					
					<!-- 
						Because ExpressionEngine only has fields for Member Photo and Avatar, 
						We are using Avatar to store the company logo.
					-->
		
					<label for="avatar_filename">Company Logo</label>
					
					{exp:ce_img:pair:avatar src="{avatar_url}{avatar_filename}" max="100" allow_scale_larger="yes" crop="yes"}
						<img src="{avatar:made}" id="avatar"/>
					{/exp:ce_img:pair:avatar}
					
					<p>
						<span id='avatar-uploader'>
		              		<input type="button" name="avatar-upload" id="avatar-upload" value="Upload a new logo" />
		            	</span>
					</p>
				
					<!-- This div will be replaced by Jquery with the animated progress bar -->
					<div id="avatar-progressbar"></div>
				
				
					<!-- file upload script -->
					{embed="includes/upload_script" type="avatar"}
					
	
					<p>	
						<label for="company_address">{lang:company_address:label}</label>
						<textarea name='company_address' class='textarea large' rows='2' maxlength='200'>{company_address}</textarea>
					</p>	
	
					<p>	
						<label for="company_description">{lang:company_description:label}</label>
						<textarea name='company_description' class='textarea large'>{company_description}</textarea>
					</p>
	
	
					<p>	
						<label for="current_projects">{lang:current_projects:label}</label>
						<textarea name='current_projects' class='textarea large'>{current_projects}</textarea>
					</p>

				</div>
			
				<div class="profile-section">
	
					<h4>Skills and Experience</h4>

					<p>	
						<label for="creative_sector">{lang:creative_sector:label}</label>
						<select name="creative_sector"> 
						{select_creative_sector} 
						<option value="{value}" {selected}>{value}</option> 
						{/select_creative_sector} 
						</select>
					</p>	

					<p>	
						<label for="skills">{lang:skills:label}</label>
						<textarea name='skills' class='textarea large'>{skills}</textarea>
					</p>

					<p>	
						<label for="experience">{lang:experience:label}</label>
						<textarea name='experience' class='textarea large'>{experience}</textarea>
					</p>	

				</div>
	
			</div> <!-- /.columns -->
		
		</div> <!-- /.row -->

	<input type="submit" value="Do it !" class="large black button radius black-gradient" name="submit">

	
	{/exp:user:edit}


	</div> <!-- /container -->



	{embed="includes/footer"}

{if:else}

	{redirect='member/login'}

{/if}