{embed="includes/header" page="{segment_1}"}
	
				<div class="container"> 
				
					<div class="row">
						<div class="twelve columns">
							{exp:channel:entries channel="about"}
								<h1>{about_headline}</h1>
							{/exp:channel:entries}
						</div>
					</div> <!-- row -->
					
					<div class="row top-section">
						
						<div class="six columns">
							<div class="frame">
								<img src="http://lorempixel.com/450/250"/>
							</div>
						</div> <!-- columns -->
								
							

						<div class="six columns">
							{exp:channel:entries channel="about"}
								<p>{about_main_copy}</p>
							{/exp:channel:entries}	
							
							<a class="medium black button radius black-gradient" href="/sign-up"><span>Join us today</span></a>
						</div> <!-- columns -->
							
			
					</div> <!-- .row -->
					
					
					<div class="row">
						<div class="twelve columns">
							{exp:channel:entries channel="about"}
								<h2>Why MeWe?</h2>
								<p>{about_why_mewe}</p>
							

								<h2>How we work</h2>
								<p>{about_how_we_work}</p>

								<h2>Why join?</h2>
								<p>{about_why_join}</p>
				
							{/exp:channel:entries}
						</div> <!-- columns -->
					</div> <!-- row -->
					
					<div class="row people-section">
						<div class="twelve columns">
							<dl class="tabs">
							  <dd><a href="#simple1" class="active">The Team</a></dd>
							  <dd><a href="#simple2">The Board</a></dd>
							  <dd><a href="#simple3">Advisors</a></dd>
							</dl>

							<ul class="tabs-content">
								
								<li class="active" id="simple1Tab">
									<div class="container">
										<p>Our team looks after MeWe’s members and keeps our events and workspace running smoothly.</p>
										<ul class="block-grid four-up">
											<li>
												<img src="http://lorempixel.com/200/120">
												<h3>Team Member</h3>
												<p>We are a new type of development house for the arts and creative industries.</p>
											</li>
									
											<li>
												<img src="http://lorempixel.com/200/120">
												<h3>Team Member</h3>
												<p>We are a new type of development house for the arts and creative industries.</p>
											</li>
									
											<li>
												<img src="http://lorempixel.com/200/120">
												<h3>Team Member</h3>
												<p>We are a new type of development house for the arts and creative industries.</p>
											</li>
									
											<li>
												<img src="http://lorempixel.com/200/120">
												<h3>Team Member</h3>
												<p>We are a new type of development house for the arts and creative industries.</p>
											</li>
										</ul>
									</div>
								</li>
							  	
							<li id="simple2Tab">
									<div class="container">
										<p>The board creates MeWe’s strategy to ensure that members are offered the most innovative and cutting-edge services for their businesses.</p>
										<ul class="block-grid four-up">
											<li>
												<img src="http://lorempixel.com/200/120/people/6">
												<h3>Team Member</h3>
												<p>We are a new type of development house for the arts and creative industries.</p>
											</li>

											<li>
												<img src="http://lorempixel.com/200/120/people/9">
												<h3>Team Member</h3>
												<p>We are a new type of development house for the arts and creative industries.</p>
											</li>

											<li>
												<img src="http://lorempixel.com/200/120/people/6">
												<h3>Team Member</h3>
												<p>We are a new type of development house for the arts and creative industries.</p>
											</li>

											<li>
												<img src="http://lorempixel.com/200/120/people/9">
												<h3>Team Member</h3>
												<p>We are a new type of development house for the arts and creative industries.</p>
											</li>
										</ul>
									</div>
								
								</li>
								<li id="simple3Tab">
										<div class="container">
											
											<p>From heads of leading media organisations to captains of creative industry, our advisors offer members invaluable one-to-one business coaching.</p>
											
											<ul class="block-grid four-up">
												<li>
													<img src="http://placehold.it/200x120">
													<h3>Team Member</h3>
													<p>We are a new type of development house for the arts and creative industries.</p>
												</li>

												<li>
													<img src="http://placehold.it/200x120">
													<h3>Team Member</h3>
													<p>We are a new type of development house for the arts and creative industries.</p>
												</li>

												<li>
													<img src="http://placehold.it/200x120">
													<h3>Team Member</h3>
													<p>We are a new type of development house for the arts and creative industries.</p>
												</li>

												<li>
													<img src="http://placehold.it/200x120">
													<h3>Team Member</h3>
													<p>We are a new type of development house for the arts and creative industries.</p>
												</li>
											</ul>
										</div>

									</li>
							
						
							</ul>
		
						</div>
					</div>
					

				</div> <!-- container -->

{embed="includes/footer"}