{embed="includes/header" page="{segment_1}"}

				<div class="container"> 
				
					<div class="row">
						<div class="twelve columns">
							<h1>Workspace</h1>
						</div>
					</div> <!-- row -->
					
					<div class="row">
						
						<div class="six columns">
							<div class="frame">
								<img src="http://lorempixel.com/450/250"/>
							</div>
						</div> <!-- columns -->
								
							

						<div class="six columns">	
							<p>Our modern offices are just 2 minutes walk from Piccadilly Circus tube station in central London. </p>
							<p>All members are free to use the open plan workspaces for a set number of hours per month depending on the membership type selected. Additional hours can be purchased on a pay as you go basis. All members are free to use the café facilities in the building throughout the week for informal meetings with other members or clients.</p> 
							<p>Members can also hire other rooms on an hourly or daily basis. The rooms vary from a small meeting room for 6 people to a large boardroom. We also have a cinema that can be hired for larger presentations or events.</p>
						</div> <!-- columns -->
							
			
					</div> <!-- .row -->
					
					
					<div class="row services rooms-section">
				
							<div class="quarter columns">
								<div class="service rounded">
										<h2>Cinema</h2>
									<img src="http://lorempixel.com/200/115/city/1" alt="MeWe Incubator" />
									<p>£1 million business incubator and venture fund</p>
								</div> <!-- panel -->
							</div>				
				
							<div class="quarter columns">				
								<div class="service rounded">
									<h2>Open plan office</h2>
									<img src="http://lorempixel.com/200/115/city/2" alt="MeWe Incubator" />
									<p>£1 million business incubator and venture fund</p>
								</div> <!-- panel -->
							</div>				
					
							<div class="quarter columns">					
								<div class="service rounded">
									<h2>Small meeting room</h2>
									<img src="http://lorempixel.com/200/115/city/3" alt="MeWe Incubator" />
									<p>£1 million business incubator and venture fund</p>
								</div> <!-- panel -->
							</div>				
					
							<div class="quarter columns">				
								<div class="service rounded">
									<h2>Boardroom</h2>
									<img src="http://lorempixel.com/200/115/city/4" alt="MeWe Incubator" />
									<p>£1 million business incubator and venture fund</p>
								</div> <!-- panel -->
							</div>
					</div><!-- #services-->
					
					<div class="row">
						<div class="twelve columns cta">
							<a href="#" class="medium black button radius black-gradient"><span>Sign up today</span></a>
						</div>
					</div>
					

				</div> <!-- container -->

{embed="includes/footer"}