{embed="includes/header" page="{segment_1}" page_title="Our workspace - {company_name}"}
	{exp:channel:entries channel="workspace"}
	
				<div class="container"> 
				
					<div class="row">
						<div class="twelve columns">
							
							<h1>{workspace_heading}</h1>
						</div>
					</div> <!-- row -->
					
					<div class="row">
						
						<div class="six columns">
							<div class="frame">
									{if workspace_video !=""}
										{exp:antenna url='{workspace_video}' vimeo_portrait='false' youtube_rel='0' vimeo_title='false'}
											<div class="flex-video vimeo widescreen">{embed_code}</div>
										{/exp:antenna}
									{if:else}									
								     	<img src="{workspace_main_image}"/>
									{/if}
							</div> <!-- frame -->
						</div> <!-- columns -->
								
							

						<div class="six columns">
							<p>{workspace_main_copy}	
						</div> <!-- columns -->
							
			
					</div> <!-- .row -->
					
					
					<div class="row services rooms-section">
					
					{workspace_four_columns}
				
							<div class="quarter columns">
								<div class="service rounded">
										<h2>{title}</h2>
									<img src="{image}" alt="{title}" />
									<p>{copy}</p>
								</div> <!-- panel -->
							</div>				
				
					{/workspace_four_columns}

					</div><!-- #services-->
					
					<div class="row">
						<div class="twelve columns cta">
							<a href="/sign-up" class="medium black button radius black-gradient"><span>Sign up today</span></a>
						</div>
					</div>
					

				</div> <!-- container -->

{/exp:channel:entries}

{embed="includes/footer"}