{embed="includes/header" page="{segment_1}" page_title="Our workspace - {company_name}"}
	{exp:channel:entries channel="workspace"}
	
				<div class="container"> 
				
					<div class="row">
						<div class="twelve columns">
							
							<h1>{workspace_heading}</h1>
						</div>
					</div> <!-- row -->
					
					<div class="row">
						
						<div class="six columns">
							<div class="frame">
								<img src="http://lorempixel.com/450/250"/>
							</div>
						</div> <!-- columns -->
								
							

						<div class="six columns">
							<p>{workspace_main_copy}	
						</div> <!-- columns -->
							
			
					</div> <!-- .row -->
					
					
					<div class="row services rooms-section">
				
							<div class="quarter columns">
								<div class="service rounded">
										<h2>{workspace_room_1_heading}</h2>
									<img src="http://lorempixel.com/200/115/city/1" alt="MeWe Incubator" />
									<p>{workspace_room_1_copy}</p>
								</div> <!-- panel -->
							</div>				
				
							<div class="quarter columns">				
								<div class="service rounded">
									<h2>{workspace_room_2_heading}</h2>
									<img src="http://lorempixel.com/200/115/city/2" alt="MeWe Incubator" />
									<p>{workspace_room_2_copy}</p>
								</div> <!-- panel -->
							</div>				
					
							<div class="quarter columns">					
								<div class="service rounded">
									<h2>{workspace_room_3_heading}</h2>
									<img src="http://lorempixel.com/200/115/city/3" alt="MeWe Incubator" />
									<p>{workspace_room_3_copy}</p>
								</div> <!-- panel -->
							</div>				
					
							<div class="quarter columns">				
								<div class="service rounded">
									<h2>{workspace_room_4_heading}</h2>
									<img src="http://lorempixel.com/200/115/city/4" alt="MeWe Incubator" />
									<p>{workspace_room_4_copy}</p>
								</div> <!-- panel -->
							</div>
					</div><!-- #services-->
					
					<div class="row">
						<div class="twelve columns cta">
							<a href="/sign-up" class="medium black button radius black-gradient"><span>Sign up today</span></a>
						</div>
					</div>
					

				</div> <!-- container -->

{/exp:channel:entries}

{embed="includes/footer"}