{embed="includes/header" page="{segment_1}"}

			
				<div class="container"> 
					
					<div class="row">
								
							

						<div class="eight columns push-four">
							<h1>We'd love to see you at one of our events!</h1>
							<p> MEWE360º hosts a programme of networking and leadership development events designed to inspire, inform and connect our membership. As a member you have access to all events (free or discounted depending on your type of membership). We want to provide a programme that genuinely meets your needs and so are always open to member’s requests and will adapt our programme where necessary.</p>
							<p> We run 6 different types of events - <a href="#">Networking Events</a>, <a href="#">Networking Plus - The Lab</a>, <a href="#">How I did it</a>, <a href="#">Pick my brains</a>, <a href="#">Workshop/Masterclass</a> and <a href="#">Panel Discussions</a>. </p>
							
							<div class="row cta">
								
								<div class="eight columns">
									Become a member to receive free tickets, special discounts and priority access.
								</div>
									
								<div class="four columns">
									<a href="#" class="medium black button radius black-gradient"><span>Sign up today</span></a>
								</div>
							</div>
							
						<div class="past-events">
							<h2 class="black-header-bar">Past Events</h2>
							<ul>
								<li class="event-summary accordionButton">
									<div class="date-box">
										<p class="month">MAR</p>
										<p class="day">25</p>
									</div> <!-- date-box -->
							
									<h3 class="event-title">MeWe Event Horizon</h3>
									<p class="event-description">Exploring the infinite potential of exploitation in the work place.</p>
									<div class="clear"></div>
								</li>

								<li class="event-content inset accordionContent">
									<div class="row">
										<div class="seven columns">
											
											<ul class="block-grid eight-up gallery">
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>

												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>

												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
											</ul>									
										
										</div><!-- columns -->
									
										<div class="five columns">
											<div class="video">
												<img src="http://placehold.it/220x123">
											</div>
										</div> <!-- columns -->
									</div> <!-- row -->
									
									<div class="row">
										<div class="twelve columns">
												<h4>Review</h4>
												<p>People had a great time at this event. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est/</p>
										</div><!-- columns -->
									</div> <!-- row -->
								
								</li>

								<li class="event-summary accordionButton">
									<div class="date-box">
										<p class="month">MAR</p>
										<p class="day">25</p>
									</div> <!-- date-box -->
							
									<h3 class="event-title">MeWe Event Horizon</h3>
									<p class="event-description">Exploring the infinite potential of exploitation in the work place.</p>
									<div class="clear"></div>
								</li>

								<li class="event-content inset accordionContent">
									<div class="row">
										<div class="seven columns">
											
											<ul class="block-grid eight-up gallery">
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>

												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>

												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/6"><img src="http://lorempixel.com/200/200/abstract/6" alt="" /></a>
												</li>
												<li>
													<a href="http://lorempixel.com/200/200/abstract/8"><img src="http://lorempixel.com/200/200/abstract/9" alt="" /></a>
												</li>
											</ul>									
										
										</div><!-- columns -->
									
										<div class="five columns">
											<div class="video">
												<img src="http://placehold.it/220x123">
											</div>
										</div> <!-- columns -->
									</div> <!-- row -->
									
									<div class="row">
										<div class="twelve columns">
												<h4>Review</h4>
												<p>People had a great time at this event. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est/</p>
										</div><!-- columns -->
									</div> <!-- row -->
								
								</li>
									
							</ul>
								
						</div><!-- past events -->	
								
							
						</div> <!-- columns -->
					
						<div class="four columns pull-eight">
							
							<div class="next-event inset">
								<div class="date">
									<span class="month">APR</span>
									<span class="day">01</span>
								</div>
								<h2>Next Event</h2>
								<div class="container">
									<h3>MeWe Experience</h3>
									<img src="http://lorempixel.com/230/100">
									<p class="time">11am - 5pm</p>
									<p class="event-description">Experience the type of event programming on offer to MeWe members with Interactive Panel Discussion - 'Investment and the Creative - What's In It FWorkshop with leading trainer.</p>
									<a href="#" class="medium black button radius black-gradient"><span>Find out more</span></a>
								</div>
							</div>
							
							<div class="future-events">
								<h2 class="black-header-bar">Future events</h2>
								<ul>
									<li class="future-event container">
										<h3>MeWe Future Event</h3>
										<p class="date">6th May 2012</p>
										<p>fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
									</li> <!-- container -->
						
									<li class="future-event container">
										<h3>MeWe Future Event</h3>
										<p class="date">6th May 2012</p>
										<p>fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
									</li> <!-- container -->
						
									<li class="future-event container">
										<h3>MeWe Future Event</h3>
										<p class="date">6th May 2012</p>
										<p>fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
									</li> <!-- container -->
								</ul>
						
							</div> <!-- future-events -->
									
						</div> <!-- columns -->		
			
					</div> <!-- .row -->
					
					

				</div> <!-- container -->

{embed="includes/footer"}