{embed="includes/header" page="{segment_1}" page_title="Business Incubator - {company_name}"}
			
				<div class="container"> 
				
				
					
					<div class="row">
						
						<div class="six columns">
							<div class="frame">
							{exp:channel:entries channel="incubator"}
									{if incubator_video !=""}
										{exp:antenna url='{incubator_video}' vimeo_portrait='false' youtube_rel='0' vimeo_title='false'}
											<div class="flex-video vimeo widescreen">{embed_code}</div>
										{/exp:antenna}
									{if:else}									
								     	<img src="{incubator_main_image}"/>
									{/if}
								{/exp:channel:entries}
							</div> <!-- frame -->
						</div> <!-- columns -->
								
							

						<div class="six columns">
							{exp:channel:entries channel="incubator"}
								<h1>{incubator_headline}</h1>
								<p>{incubator_main_copy}</p>	
							{/exp:channel:entries}
						</div> <!-- columns -->
							
			
					</div> <!-- .row -->
					
					
					<div class="row">

						<div class="six columns">
							<h2>Here's how it works</h2>
								<p class="small">We’ll meet you for an initial in-depth one-to-one session so that together we
								can identify exactly what you need to propel you, your ideas and your creative
								business to the next level. Throughout the programme we will continue to work
								with you to closely monitor and respond to your changing needs as you, your
								business or idea develops.</p>
								<p class="small">What you will get is a bespoke package of support to
								ensure you meet the goals you have set. Packages include:</p>

								<h4>Mentoring and Consultancy</h4>
								<p class="small">One-to-one coaching to guide your leadership development as well as expert
								advice in key areas of business practice such as marketing, planning, finance, human resources</p>
								<hr />
								
								<h4>Events</h4>
								<p class="small">A programme of networking and leadership development events designed
								to inspire, inform and connect our membership including speakers, panel
								discussions, workshops, expert clinics.</p>
								<hr />
								
								<h4>Facilities</h4>
								<p class="small">Professional cinema, meeting, work and event spaces to present, collaborate and network.</p>
								<hr />
								
								<h4>Networks</h4>
								<p class="small">You will be plugged into the MeWe network as well as other relevant external networks.</p>
								<hr />
								
								<h4>Finance</h4>
								<p class="small">Opportunity to pitch for investment from MeWe’s investment arm, MeWe Money. More information is available <a href="{exp:channel:entries channel="incubator"}{incubator_file}{/exp:channel:entries}" _target="blank">here</a>.</p>
								
						</div> <!-- columns -->



						<div class="six columns">	
							<div class="inset rounded">
								<h2>Launching a project or product?</h2>

								<h3>We can provide the venue and help make sure the right people are there.</h3>
								<p>Throughout the programme we will continue to work with you to closely monitor and respond to your changing needs as you, your business or idea develops.</p>
								<p>What you will get is a tailor made service to enable you to maximise your potential and opportunities.</p>
								
								<div class="row ethos">
									<div class="three columns">
										<img src="/img/me.png" />
									</div>
									<div class="nine columns">	
										<p>but within a strong, vibrant community of peers.</p>
									</div>
								</div>
								
								<hr />
								
								<div class="row ethos">
									<div class="three columns">
										<img src="/img/we.png" />
									</div>
									<div class="nine columns">	
										<p>committed, aspirational and talented creative entrepreneurs like you – offering support and collaboration where ideas can not only ignite but be realised.</p>
									</div>
								</div>
								
								<hr />
								
								<div class="row ethos">
									<div class="three columns">
										<img src="/img/360.png" />
									</div>
									<div class="nine columns">	
										<p>support needed to succeed at the highest level together with the opportunity to apply for seed funding of £200K from our investment arm.</p>
									</div>
								</div>
																
							</div>
							
						</div> <!-- columns -->


					</div> <!-- .row -->
					
					<div class="row cta">
						<div class="nine columns">
							If you believe you have a compelling business idea, the ambition for success and want to work with business experts and mentors to grow your business get in touch now.
							
						</div>
						<div class="three columns">
							<a href="/sign-up" class="medium black button radius black-gradient"><span>Get in touch</span></a>
						</div>
					</div>
					

				</div> <!-- container -->

{embed="includes/footer"}