{embed="includes/header" page="{segment_1}" page_title="Business Incubator - {company_name}"}
			
				<div class="container"> 
				
				
					
					<div class="row">
						
						<div class="six columns">
							<div class="frame">
								<img src="http://lorempixel.com/450/250"/>
							</div>
						</div> <!-- columns -->
								
							

						<div class="six columns">
							{exp:channel:entries channel="incubator"}
								<h1>{incubator_headline}</h1>
								<p>{incubator_main_copy}</p>	
							{/exp:channel:entries}
						</div> <!-- columns -->
							
			
					</div> <!-- .row -->
					
					
					<div class="row">

						<div class="six columns">
							<h2>Here's how it works</h2>
								<p class="small">We’ll meet you for an initial in-depth one-to-one session so that together we can identify exactly what you need to propel you, your ideas and your creative business to the next level.<br />We then provide you with:</p>

								<h4>Mentoring</h4>
								<p class="small">one-to-one coaching to guide your leadership development.</p>
								<hr />

								<h4>Consultancy</h4>
								<p class="small">Expert advice provided by leading consultancies in key areas of business practice e.g. marketing, planning, finance, human resources.</p>
								<hr />
								
								<h4>Events</h4>
								<p class="small">A programme of networking and leadership development events designed to inspire, inform and connect our membership including speakers, panel discussions, workshops, expert clinics. More...</p>
								<hr />
								
								<h4>Facilities</h4>
								<p class="small">Top end cinema, meeting, work and event spaces to present, collaborate and network. More...</p>
								<hr />
								
								<h4>Networks</h4>
								<p class="small">You will be plugged into the MEWE network as well as other relevant external networks.</p>
								
						</div> <!-- columns -->



						<div class="six columns">	
							<div class="inset rounded">
								<h2>Launching a project or product?</h2>

								<h3>We can provide the venue and help make sure the right people are there.</h3>
								<p>Throughout the programme we will continue to work with you to closely monitor and respond to your changing needs as you, your business or idea develops.</p>
								<p>What you will get is a tailor made service to enable you to maximise your potential and opportunities.</p>
								
								<div class="row ethos">
									<div class="three columns">
										<img src="/img/me.png" />
									</div>
									<div class="nine columns">	
										<p>but within a strong, vibrant community of peers.</p>
									</div>
								</div>
								
								<hr />
								
								<div class="row ethos">
									<div class="three columns">
										<img src="/img/we.png" />
									</div>
									<div class="nine columns">	
										<p>committed, aspirational and talented creative entrepreneurs like you – offering support and collaboration where ideas can not only ignite but be realised.</p>
									</div>
								</div>
								
								<hr />
								
								<div class="row ethos">
									<div class="three columns">
										<img src="/img/360.png" />
									</div>
									<div class="nine columns">	
										<p>support needed to succeed at the highest level together with the opportunity to apply for seed funding of £200K from our investment arm.</p>
									</div>
								</div>
																
							</div>
							
						</div> <!-- columns -->


					</div> <!-- .row -->
					
					<div class="row cta">
						<div class="nine columns">
							If you believe you have a compelling business idea, the ambition for success and want to work with business experts and mentors to grow your business get in touch now.
							
						</div>
						<div class="three columns">
							<a href="/sign-up" class="medium black button radius black-gradient"><span>Get in touch</span></a>
						</div>
					</div>
					

				</div> <!-- container -->

{embed="includes/footer"}