{embed="includes/header" page="{segment_1}"}

				<div class="container"> 
				
					<div class="row">
					
						<div class="eight columns">
							
							{exp:channel:entries channel="news"}
							
								<div class="news-article">
									<header>
										<h2>{title}</h2> 
										<p><span class="date">{entry_date format='%j %F %Y'}</span> by <strong>{author}</strong> <span class="comments">3 comments</span></p>
									</header>
									{if news_video_url !=""}
										{exp:antenna url='{news_video_url}' vimeo_portrait='false' vimeo_title='false'}
											<div class="flex-video">{embed_code}</div>
										{/exp:antenna}
									{if:elseif news_image != ""}
										<div class="frame">
											<!-- ><img src="http://lorempixel.com/450/250"/> -->
											<img src="{news_image}" alt="{news_image_description}"/>
										</div>
									{/if}

									<p>{news_excerpt}</p>
								</div> <!-- .news-article -->
							
							{/exp:channel:entries}
							
						</div> <!-- columns -->
								
							

						<div class="four columns">	
							
							{embed="includes/sidebar"}
		
						</div> <!-- columns -->
							
			
					</div> <!-- .row -->

				</div> <!-- container -->

{embed="includes/footer"}