{embed="includes/header" page="{segment_1}" page_title="News stories - {company_name}"}

				<div class="container"> 
				
					<div class="row">
					
						<div class="eight columns">
							
							{exp:channel:entries channel="news"}
							
								<div class="news-article">
									<header>
										<h2><a href="{title_permalink='news/view'}">{title}</a></h2> 
										<p><span class="date">{entry_date format='%j %F %Y'}</span> by <strong>{author}</strong> <span class="comments"><a href="{title_permalink='news/view'}#comments">{comment_total} comments</a></span></p>
									</header>
									{if news_video_url !=""}
										{exp:antenna url='{news_video_url}' vimeo_portrait='false' vimeo_title='false'}
											<div class="flex-video">{embed_code}</div>
										{/exp:antenna}
									{if:elseif news_image != ""}
										<div class="frame">
											<!-- ><img src="http://lorempixel.com/450/250"/> -->
											<img class="main-image" src="{news_image}" alt="{news_image_description}"/>
										</div>
									{/if}

									<p>
										{exp:eehive_hacksaw words="15" append="..."}
												{news_article}
										{/exp:eehive_hacksaw}
										<a href="{title_permalink='news/view'}">Read More</a>
									</p>
									
								</div> <!-- .news-article -->
							
							{/exp:channel:entries}
							
						</div> <!-- columns -->
								
							

						<div class="four columns">	
							
							{embed="includes/sidebar"}
		
						</div> <!-- columns -->
							
			
					</div> <!-- .row -->

				</div> <!-- container -->

{embed="includes/footer"}