{embed="includes/header"}

				<div class="container"> 

					<div class="row" id='topSection'>

						<div class="six columns push-six" id="straplineArea">
								<div class="cta-container">
									<h1>We provide access to the best <a>funding</a>, <a>mentoring</a> and <a>incubation</a> to propel your creative business.</h1>
									<a class="huge button black radius black-gradient hide-on-phones" href="/sign-up"><span>Join today</span></a>
								</div>
						</div> <!-- #straplineArea -->

						<div class="six columns pull-six" id='carousel'>
								
								<div class="frame">
									     <img src="/img/carousel/5.jpg"/>
								</div> <!-- carousel-container -->
					
				
						</div> <!-- #carousel -->
			
				
					</div> <!-- #topSection -->
			
					<div class="row services">
						{exp:channel:entries channel="home"}
						
							<div class="quarter columns">
								<div class="service rounded">
										<h2>Incubator</h2>
									<img src="{home_incubator_image}" alt="Incubator" />
									<p>{home_incubator_copy}</p>
									<a href="/incubator" class="medium black button radius black-gradient"><span>Fund your business</span></a>
								</div> <!-- panel -->
							</div>				
				
							<div class="quarter columns">				
								<div class="service rounded">
									<h2>Workspace</h2>
									<img src="{home_workspace_image}" alt="Workspace" />
									<p>{home_workspace_copy}</p>
									<a href="/workspace" class="medium black button radius black-gradient"><span>See the workspace</span></a>
								</div> <!-- panel -->
							</div>				
					
							<div class="quarter columns">					
								<div class="service rounded">
									<h2>Events</h2>
									<img src="{home_events_image}" alt="Events" />
									<p>{home_events_copy}</p>
									<a href="/events" class="medium black button radius black-gradient"><span>Come to an event</span></a>
								</div> <!-- panel -->
							</div>				
					
							<div class="quarter columns">				
								<div class="service rounded">
									<h2>Membership</h2>
									<img src="{home_membership_image}" alt="Membership" />
									<p>{home_membership_copy}</p>
									<a href="/membership" class="medium black button radius black-gradient"><span>Find out more</span></a>
								</div> <!-- panel -->
							</div>
							
						{/exp:channel:entries}

					</div><!-- #services-->
				

					<div class="row" id="news-area">
					
						<div class="seven columns">
						
							<h2>Latest news</h2>
								
								{exp:channel:entries channel="news" limit="1"}
								<div class="row">
									<div class="three columns">
										<a href="{title_permalink='news/view'}">
											
											{if news_video_url !=""}
												{exp:antenna url='{news_video_url}' vimeo_portrait='false' vimeo_title='false'}
														<img src="{video_thumbnail}" alt="{video_title}" />
												{/exp:antenna}
											{if:elseif news_image != ""}
												<img src="{news_image}" alt="{title}" />
											{/if}
										</a>
									
									</div> <!-- .six columns -->

									<div class="nine columns">
										
										<div class="news-article">
											<header>
												<h3 class="news-heading"><a href="{title_permalink='news/view'}">{title}</a></h3>
												<p><span class="date">{entry_date format='%j %F %Y'}</span> by {author} <span class="comments">3 comments</span></p>
											</header>	
											<p class="excerpt">
												{exp:eehive_hacksaw words="15" append="..."}
													{news_article}
												{/exp:eehive_hacksaw}
											</p>
											
											
										</div> <!-- .news-article -->
									
										
									</div>
								
								</div> <!-- .row -->
								{/exp:channel:entries}
					


						</div> <!-- .seven columns-->

						<div class="five columns">	
							<h2>Upcoming events</h2>
							<div class="row event">
							{exp:eventbriteapi:upcomingEvents limit='1'}
							
								<div class="three columns">
										<a href='{url}'>
											<div class="date-box">
												<p class="month">{month}</p>
												<p class="day">{day}</p>
											</div> <!-- date-box -->
										</a>
								</div>
								<div class="nine columns">
									<div class="event-details">
										<h3 class="event-heading"><a href='{url}'>{title}</a></h3>
										<p>{excerpt}</p>
									</div> <!-- date- -->	
								</div>
							</div>
							{/exp:eventbriteapi:upcomingEvents}
						</div> <!-- sidebar -->
							
			
					</div> <!-- #news-area -->

				</div> <!-- container -->
				
{embed="includes/footer"}