{embed="includes/header"}

				<div class="container"> 

					<div class="row" id='topSection'>

						<div class="six columns push-six" id="straplineArea">
								<div class="cta-container">
									<h1>We provide access to the best <a>funding</a>, <a>mentoring</a> and <a>incubation</a> to propel your creative business.</h1>
									<a class="huge button black radius black-gradient hide-on-phones" href="#"><span>Join today</span></a>
								</div>
						</div> <!-- #straplineArea -->

						<div class="six columns pull-six" id='carousel'>
								
								<div class="frame">
									     <img src="/img/carousel/5.jpg"/>
								</div> <!-- carousel-container -->
					
				
						</div> <!-- #carousel -->
			
				
					</div> <!-- #topSection -->
			
					<div class="row services">
				
							<div class="quarter columns">
								<div class="service rounded">
										<h2>Incubator</h2>
									<img src="/img/workspace.jpg" alt="MeWe Incubator" />
									<p>£1 million business incubator and venture fund</p>
									<a href="#" class="medium black button radius black-gradient"><span>Fund your business</span></a>
								</div> <!-- panel -->
							</div>				
				
							<div class="quarter columns">				
								<div class="service rounded">
									<h2>Workspace</h2>
									<img src="/img/workspace.jpg" alt="MeWe Incubator" />
									<p>£1 million business incubator and venture fund</p>
									<a href="#" class="medium black button radius black-gradient"><span>See the workspace</span></a>
								</div> <!-- panel -->
							</div>				
					
							<div class="quarter columns">					
								<div class="service rounded">
									<h2>Events</h2>
									<img src="/img/events.jpg" alt="MeWe Incubator" />
									<p>£1 million business incubator and venture fund</p>
									<a href="#" class="medium black button radius black-gradient"><span>Come to an event</span></a>
								</div> <!-- panel -->
							</div>				
					
							<div class="quarter columns">				
								<div class="service rounded">
									<h2>Consulting</h2>
									<img src="/img/consulting.jpg" alt="MeWe Incubator" />
									<p>£1 million business incubator and venture fund</p>
									<a href="#" class="medium black button radius black-gradient"><span>Find out more</span></a>
								</div> <!-- panel -->
							</div>


					</div><!-- #services-->
				

					<div class="row" id="news-area">
					
						<div class="seven columns">
						
							<h2>Latest news</h2>
								
								{exp:channel:entries channel="news" limit="1"}
								<div class="row">
									<div class="three columns">
									
										<div class="flex-video vimeo">
											<iframe src="http://player.vimeo.com/video/30995060?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="128" height="80" frameborder="0"></iframe>
										</div>
									
									</div> <!-- .six columns -->

									<div class="nine columns">
										
										<div class="news-article">
											<header>
												<h3 class="news-heading"><a href="{title_permalink='news/view'}">{title}</a></h3>
												<p><span class="date">{entry_date format='%j %F %Y'}</span> by {author} <span class="comments">3 comments</span></p>
											</header>	
											<p class="excerpt">{news_excerpt}</p>
											
											
										</div> <!-- .news-article -->
									
										
									</div>
								
								</div> <!-- .row -->
								{/exp:channel:entries}
					


						</div> <!-- .seven columns-->

						<div class="five columns">	
							<h2>Upcoming events</h2>
							<div class="row event">
								<div class="three columns">
										<div class="date-box">
											<p class="month">MAR</p>
											<p class="day">25</p>
										</div> <!-- date-box -->
								</div>
								<div class="nine columns">
									<div class="event-details">
										<h3 class="event-heading">Networking Event</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
									</div> <!-- date- -->	
								</div>
							</div>
		
						</div> <!-- sidebar -->
							
			
					</div> <!-- #news-area -->

				</div> <!-- container -->
				
{embed="includes/footer"}