{embed="includes/header" page_title="Funding, Mentoring and Development for Creative Entrepreneurs - {company_name}"}

				{exp:channel:entries channel="home"}
	
				<div class="container"> 

					<div class="row" id='topSection'>

						<div class="six columns push-six" id="straplineArea">
								<div class="cta-container">
									<h1>{strapline}</h1>
									<a class="huge button black radius black-gradient hide-on-phones" href="/sign-up"><span>Join today</span></a>
								</div>
						</div> <!-- #straplineArea -->

						<div class="six columns pull-six" id='carousel'>

								<div class="frame">
									
										{if home_video !=""}
											{exp:antenna url='{home_video}' vimeo_portrait='false' youtube_rel='0' vimeo_title='false'}
												<div class="flex-video vimeo widescreen">{embed_code}</div>
											{/exp:antenna}
										{if:else}									
									     	<img src="{home_main_image}" />
										{/if}
								</div> <!-- frame-->
					
				
						</div> <!-- #carousel -->
			
				
					</div> <!-- #topSection -->
			
					<div class="row services">
						
						{home_four_columns}
						
							<div class="quarter columns">
								<div class="service rounded">
										<h2>{title}</h2>
									<img src="{image}" alt="{title}" />
									<p>{copy}</p>
									<a href="{url}" class="medium black button radius black-gradient"><span>{button_copy}</span></a>
								</div> <!-- panel -->
							</div>				
							
						{/home_four_columns}
						
						{/exp:channel:entries}

					</div><!-- #services-->
				

					<div class="row" id="news-area">
					
						<div class="seven columns">
						
							<h2>Latest news</h2>
								
								{exp:channel:entries channel="news" limit="1"}
								<div class="row">
									<div class="three columns">
										<a href="{title_permalink='news/view'}">
											
											{if news_video_url !=""}
												{exp:antenna url='{news_video_url}' vimeo_portrait='false' vimeo_title='false'}
														<img src="{video_thumbnail}" alt="{video_title}" />
												{/exp:antenna}
											{if:elseif news_image != ""}
												<img src="{news_image}" alt="{title}" />
											{/if}
										</a>
									
									</div> <!-- .six columns -->

									<div class="nine columns">
										
										<div class="news-article">
											<header>
												<h3 class="news-heading"><a href="{title_permalink='news/view'}">{title}</a></h3>
												<p><span class="date">{entry_date format='%j %F %Y'}</span> by {author} <span class="comments"><a href="{title_permalink='news/view'}#comments">{comment_total} comments</a></span></p>
											</header>	
											<p class="excerpt">
												{exp:eehive_hacksaw words="15" append="..."}
													{news_article}
												{/exp:eehive_hacksaw}
											</p>
											
											
										</div> <!-- .news-article -->
									
										
									</div>
								
								</div> <!-- .row -->
								{/exp:channel:entries}
					


						</div> <!-- .seven columns-->

						<div class="five columns">	
							<h2>Next Event</h2>
								{exp:eventbriteapi:upcomingEvents limit="1"}
									<div class="row event">
										<div class="three columns">
												<a href='{url}'>
													<div class="date-box">
														<p class="month">{month}</p>
														<p class="day">{day}</p>
													</div> <!-- date-box -->
												</a>
										</div>
										<div class="nine columns">
											<div class="event-details">
												<h3 class="event-heading"><a href='{url}'>{title}</a></h3>
												<p class="excerpt">{excerpt}</p>
											</div> <!-- date- -->	
										</div>
									</div>
								{/exp:eventbriteapi:upcomingEvents}
						</div> <!-- sidebar -->
							
			
					</div> <!-- #news-area -->

				</div> <!-- container -->
				
{embed="includes/footer"}