{embed="includes/header" page="thankyou"}
<div class="container">
	
	<div class="row">
		<div class="six columns">
			<h1>Thanks for getting in touch!</h1>
			<p>We love to hear about new businesses and projects and respond to all enquiries personally.</p>
			<p>Please expect an email from one of our team within the next few days!</p>
				
				<div class="row">
					<div class="six columns">
							<a class="medium black button radius black-gradient" href="/"><span>Return to the site</span></a>
					</div>
					<div class="six columns"></div>
				</div>
			
		</div>
		
		<div class="six columns">
			<img src="/img/thanks.png" class="large" />
		</div>
		
	</div>
	
	

		
</div>
{embed="includes/footer"}