
/* -------------------------------------------------- 
   Specific styles for Contact-us page 
   -------------------------------------------------- */

#customDropdown {
	display:none;
}


input[type="submit"] {
	margin: 20px 0 20px 0;
}

input[type="submit"].button.large {
	padding:7px 0 !important;
	display:block;
	width:100px;
}

form {
	margin-top: 20px;
}