<?php

error_log("Started upload script", 0);

$rootdir_staging = '/var/www/vhosts/projoosr.com/subdomains/mewe-staging/httpdocs';
$rootdir_dev = '/Applications/MAMP/htdocs/MeWe_CMS';

$rootdir = $rootdir_dev;

// Include the CE image class to create thumbnails 
if ( ! class_exists( 'CE_image' ) )
{
	require $rootdir.'/mewemin/expressionengine/third_party/ce_img/libraries/Ce_image.php';
}

/**
 * Handle file uploads via XMLHttpRequest
 */
class qqUploadedFileXhr {
    /**
     * Save the file to the specified path
     * @return boolean TRUE on success
     */
    function save($path) {    
        $input = fopen("php://input", "r");
        $temp = tmpfile();
        $realSize = stream_copy_to_stream($input, $temp);
        fclose($input);
        
        if ($realSize != $this->getSize()){            
            return false;
        }
        
        $target = fopen($path, "w");        
        fseek($temp, 0, SEEK_SET);
        stream_copy_to_stream($temp, $target);
        fclose($target);
        
        return true;
    }
    function getName() {
        return $_GET['qqfile'];
    }
    function getSize() {
        if (isset($_SERVER["CONTENT_LENGTH"])){
            return (int)$_SERVER["CONTENT_LENGTH"];            
        } else {
            throw new Exception('Getting content length is not supported.');
        }      
    }   
}

/**
 * Handle file uploads via regular form post (uses the $_FILES array)
 */
class qqUploadedFileForm {  
    /**
     * Save the file to the specified path
     * @return boolean TRUE on success
     */
    function save($path) {
        if(!move_uploaded_file($_FILES['qqfile']['tmp_name'], $path)){
            return false;
        }
        return true;
    }
    function getName() {
        return $_FILES['qqfile']['name'];
    }
    function getSize() {
        return $_FILES['qqfile']['size'];
    }
}

class qqFileUploader {
    private $allowedExtensions = array();
    private $sizeLimit = 10485760;
    private $file;

    function __construct(array $allowedExtensions = array(), $sizeLimit = 10485760){        
        $allowedExtensions = array_map("strtolower", $allowedExtensions);
            
        $this->allowedExtensions = $allowedExtensions;        
        $this->sizeLimit = $sizeLimit;
        
        $this->checkServerSettings();       

        if (isset($_GET['qqfile'])) {
            $this->file = new qqUploadedFileXhr();
        } elseif (isset($_FILES['qqfile'])) {
            $this->file = new qqUploadedFileForm();
        } else {
            $this->file = false; 
        }
    }
    
    private function checkServerSettings(){        
        $postSize = $this->toBytes(ini_get('post_max_size'));
        $uploadSize = $this->toBytes(ini_get('upload_max_filesize'));        
        
        if ($postSize < $this->sizeLimit || $uploadSize < $this->sizeLimit){
            $size = max(1, $this->sizeLimit / 1024 / 1024) . 'M';             
            die("{'error':'increase post_max_size and upload_max_filesize to $size'}");    
        }        
    }
    
    private function toBytes($str){
        $val = trim($str);
        $last = strtolower($str[strlen($str)-1]);
        switch($last) {
            case 'g': $val *= 1024;
            case 'm': $val *= 1024;
            case 'k': $val *= 1024;        
        }
        return $val;
    }
    
    /**
     * Returns array('success'=>true) or array('error'=>'error message')
     */
    function handleUpload($uploadDirectory, $replaceOldFile = TRUE){
        if (!is_writable($uploadDirectory)){
            return array('error' => "Server error. Upload directory isn't writable.");
        }
        
        if (!$this->file){
            return array('error' => 'No files were uploaded.');
        }
        
        $size = $this->file->getSize();
        
        if ($size == 0) {
            return array('error' => 'File is empty');
        }
        
        if ($size > $this->sizeLimit) {
            return array('error' => 'File is too large');
        }
        
        $pathinfo = pathinfo($this->file->getName());
        $filename = "{segment_2}_{exp:user:stats}{member_id}{/exp:user:stats}";
        //$filename = md5(uniqid());
        $ext = $pathinfo['extension'];

		

        if($this->allowedExtensions && !in_array(strtolower($ext), $this->allowedExtensions)){
            $these = implode(', ', $this->allowedExtensions);
            return array('error' => 'File has an invalid extension, it should be one of '. $these . '.');
        }
        
        if(!$replaceOldFile){
            /// don't overwrite previous files that were uploaded
            while (file_exists($uploadDirectory . $filename . '.' . $ext)) {
                $filename .= rand(10, 99);
            }
        }
        
        if ($this->file->save($uploadDirectory . $filename . '.' . $ext)){
            return array('success'=>true, 'full_filename' => $filename . '.' . $ext, 'upload_directory' => $uploadDirectory );
        } else {
            return array('error'=> 'Could not save uploaded file.' .
                'The upload was cancelled, or server error encountered');
        }
        
    }    
}

// list of valid extensions, ex. array("jpeg", "xml", "bmp")
$allowedExtensions = array();
// max file size in bytes
$sizeLimit = 10 * 1024 * 1024;

$uploader = new qqFileUploader($allowedExtensions, $sizeLimit);

// Check to see if the second url segment is photo or avatar and handle the upload accordingly. 
// Return an error if the segment is neither of these values.
switch ("{segment_2}") {

	case "photo":		
		error_log('its a photo...'.$rootdir, 0);
		file_put_contents('php://stderr','its a photo...'.$rootdir, TRUE);
		$result = $uploader->handleUpload($rootdir.'/images/member_photos/');
	break;
	
	case "avatar":
		$result = $uploader->handleUpload($rootdir.'/images/avatars/');
	break;
	
	default:
		$result = array('error'=> 'Could not save uploaded file.');
	
}



// If the file uploaded okay, then we update the user's record in the expressionengine database 
// to point to the new file.
if ($result['success']) {
	error_log('Success, updating DB...', 0);
	file_put_contents('php://stderr', "\n\nUpdating database...\n\n", TRUE);
	
	/* create thumbnail */
	
	$settings = array();
	
	// Use different thumbnail settings for user photos or avatar (company logo)
	
	if ("{segment_2}" == "photo") {
		$settings = array('max' => 250, 'crop' => TRUE, 'allow_scale_larger' => TRUE);
	}
	else if ("{segment_2}" == "avatar")	{
		$settings = array('max' => 100, 'crop' => TRUE, 'allow_scale_larger' => TRUE);
	} 
	
	
	//instantiate the class with the defined settings
	$ce_image = new Ce_image($settings);
	
	//create the thumbnail
	$ce_image->make( $result['upload_directory'] . $result['full_filename']  );
	
	//get the location of the thumbnail
 	$ce_image->create_tag();
	$result["thumbnail"] = $ce_image->get_relative_path();
	
	// Remove the upload directory from the response
	//$result['upload_directory'] = "";

	//close the image (free up memory)
	$ce_image->close();
	
	/* Update the ee database */
	
	$data = array('{segment_2}_filename' => $result['full_filename']);

	$sql = $this->EE->db->update_string('exp_members', $data, "member_id = '{exp:user:stats}{member_id}{/exp:user:stats}'");

	$this->EE->db->query($sql);
	
}
else {
	unset($result["full_filename"]);
	unset($result["upload_directory"]);
	file_put_contents('php://stderr', "\n\nFailed\n", TRUE);
	error_log('Failed uploading/converting image ', 0);
	echo htmlspecialchars(json_encode($result), ENT_NOQUOTES);
	
}

// to pass data through iframe you will need to encode all html tags

// Remove unnecessary items from the reponse
unset($result["full_filename"]);
unset($result["upload_directory"]);

error_log('result is'.print_r($result,true), 0);
file_put_contents('php://stderr', 'result is '. print_r($result,true), TRUE);
echo htmlspecialchars(json_encode($result), ENT_NOQUOTES);

?>