{embed="includes/header" page="{segment_1}" page_title="Membership tiers, pricing and FAQ - {company_name}"}
	
			
				<div class="container"> 
				
					<div class="row centered">
						<div class="twelve columns">
							{exp:channel:entries channel="membership"}\
							
							 	<h1>{membership_headline}</h1>
							
								{if special_offer_visible != ""}			
									<div class="banner inset rounded shadow">
										<h2>{membership_banner}</h2>
									</div> <!-- .banner --> 
								{/if}
								
							{/exp:channel:entries}
							
						</div>
					</div> <!-- row -->
					
					
					<div class="row services membership-tiers">
					
					{exp:channel:entries channel="membership" limit="3"}
						{membership_tiers}
							<div class="third columns">
								<div class="service rounded inset">
										<h2>{membership_tier_name}</h2>
										<div class="bubble rounded">
											<div>
												<span class="contract-length">{membership_primary_description}</span><br />
												<span class="price">{membership_primary_price}/</span><span class="payment-period">{membership_primary_period}</span></div>

										</div>
										<div class="bubble secondary-offer rounded ">
											<div>
												<span class="contract-length">{membership_secondary_description}</span><br />
												{if membership_secondary_price !=""}
													<span class="price">{membership_secondary_price}/</span><span class="payment-period">{membership_secondary_period}</span></div>
												{if:else}
													<span class="payment-period">N/A</span></div>
												{/if}

										</div>
										<div class="bubble feature rounded">
											{membership_feature_1}
										</div>
										<div class="bubble feature rounded">
											{membership_feature_2}
										</div>
										<div class="bubble feature rounded">
											{membership_feature_3}
										</div>
										
										{if membership_differentiator != ""}
											<div class="bubble differentiator rounded">
												{membership_differentiator}
											</div>
										{/if}
			
										<a href="/sign-up" class="large button radius black-gradient"><span>Sign up today</span></a>
										
								</div> <!-- panel -->
								
							</div>
						{/membership_tiers}
					{/exp:channel:entries}	
					
				
					</div><!-- #services-->
					
					<hr class="divider"/>
					
					<div class="row">
						<div class="eight columns faq-section">
							<h2>Frequently asked questions</h2>
						
						{exp:channel:entries channel="membership"}	
							{faq}
								<div class="question-and-answer">
									<p class="question">{question}</p>
									<p class="answer">{answer} {if file != ""}<a href="{file}" class="file-icon"><img src="/img/file-icon-small.png" /></a>{/if}</p>
								</div>
							{/faq}
						{/exp:channel:entries}
							
						</div><!-- columns -->
							
						<div class="four columns">
							<div class="service rounded top-ups">
								<h2>Top-ups and Extras</h2>
								{exp:channel:entries channel="membership" backspace="6"}
									{topups_and_extras}
										<h3>{title}</h3>
										{copy}
										<hr />{/topups_and_extras}{/exp:channel:entries}
								
							</div>
						</div><!-- columns -->
						
					</div> <!-- Row -->
					

				</div> <!-- container -->
				
	
{embed="includes/footer"}