			{exp:channel:entries channel="footer_content" dynamic="no"}
			
				<div class="sponsors">
					<div class="row">
						<!-- <div class="twelve columns"><img src="/img/sponsors.png" alt="Our Sponsors" /></div> -->
						
						<div class="twelve columns">
							{sponsors}
								<a href="{exp:valid_url}{url}{/exp:valid_url}" target="_blank" >
									<img src="{logo}" alt="{name}" />
								</a>
							{/sponsors}
						</div>
							
						
					</div>
				</div>
		
				<div id="footer">
			
					<div class="row">
						<div class="three columns">
							<h3>Find Us</h3>
							<div class="container">
								{footer_map_image}
									<a href="{exp:valid_url}{map_link}{/exp:valid_url}" _target="blank" ><img class="map" src="{image}" alt="Map showing MeWe location" /></a>
								{/footer_map_image}
							</div>
						</div>
						<div class="three columns">
							<h3>Get in touch</h3>
							<div class="container">
								<p>{footer_address}</p><p>{footer_phone_number}<br /><a href="mailto:{footer_email}">{footer_email}</a></p>
							</div>
						</div>
						
						<div class="three columns networks">
							<h3>Networks</h3>
							<div class="container">
								<ul>
									{if footer_twitter != ""}
										<li><a href="{exp:valid_url}{footer_twitter}{/exp:valid_url}" target="_blank" ><img src="/img/twitter.png" />Twitter</a></li>
									{/if}
									
									{if footer_facebook != ""}
										<li><a href="{exp:valid_url}{footer_facebook}{/exp:valid_url}" target="_blank" ><img src="/img/facebook.png" />Facebook</a></li>
									{/if}
									
									{if footer_linkedin != ""}
										<li><a href="{exp:valid_url}{footer_linkedin}{/exp:valid_url}" target="_blank" ><img src="/img/linkedin.png" />LinkedIn</a></li>
									{/if}
									
								</ul>
							</div>
						</div>
						<div class="three columns feedback">
							<h3>Feedback</h3>
							<div class="container">
								<p>We’re always looking to improve what we do. If you have feedback we'd love to hear from you!</p>
								<a href="{path='contact-us'}" class="medium radius black button black-gradient"><span>Get in touch</span></a>
							</div>
						</div>
					</div>
						
					<div class="row"> <!-- Company registration info -->
						<div class="twelve">
							<p class="company-info">{company_info}</p>
						</div>
					</div> <!-- /row -->
				
				
				</div> <!-- .footer -->
				
				</div> <!-- #background -->
		</div> <!-- #top-background -->

{/exp:channel:entries}

	<!-- Included JS Files -->
	
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>	
  	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

	<script src="/javascripts/jquery.customforms.js"></script>
	<script src="/javascripts/jquery.placeholder.min.js"></script>

	<!-- End Combine and Compress These JS Files -->
	
	<!-- Form validation -->
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>	
	
	<script type="text/javascript">
		$().ready(function() {
			// validate the comment form when it is submitted
			$(".validatingForm").validate();
		});
	</script>
	
	<script src="/javascripts/app.js"></script>
	
	<!-- JQuery Lightbox -->
	<script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.gallery a').lightBox(); // Select all links in object with gallery ID
		});
	</script>
	
	<!-- Live Reload -->	
	{if global:env != "prod"}
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	{/if}

	
</body>
</html>