{exp:channel:entries channel="about"}

	{{embed:field}}
		<li> 
			{if video != ""}
				
				{exp:antenna url='{video}' vimeo_portrait='false' youtube_rel='0' vimeo_title='false'}
					<div class="flex-video vimeo widescreen">{embed_code}</div>
				{/exp:antenna}	

			{if:else}
			
					{if photo != ""}
					
						{exp:ce_img:pair:mugshot src="{photo}" height="184" width="320" crop="yes" allow_scale_larger="yes"}
							<img src="{mugshot:made}" />
						{/exp:ce_img:pair:mugshot}
					
					{if:else}
						<img src="http://lorempixel.com/200/120">
					{/if}
			{/if}

			<!-- If the heading is below a video embed it's given a separate class to ensure its aligned -->
			<h3 {if video !="" }class="video_heading"{/if}>{name}</h3>
			<p>{bio}</p>
		
		</li>
		
	{/{embed:field}}
	
{/exp:channel:entries}